/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}

article {
    border: 2px solid lightblue;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    margin-bottom: 20px;
    margin: 3px;
    overflow: auto;
}

article h3 {
    text-align: center;
    font-size: 18px;
    font-family: 'Protest Riot', sans-serif;
    color: #4db2ec;
}

article p {
    color: grey;
    font-size: 14px;
}

article img {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
