/* You can add global styles to this file, and also import other style files */
article {
    background-color: rgb(205, 229, 238);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}